<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Demo Point</title>
    <link rel="shortcut icon" type="image/png" href="favicon-16x16.png" />
</head>

<body>
    <!-- Navbar -->
    <div class="container mt-4">
        <div class="navbar navbar-light mb-2">
            <nav class="container-fluid">
                <div class="logoContainer">
                    <div class="logo">
                        <a class="navbar-brand" href="#">
                            <img src="d4_logo.svg" alt="" width="140" class="d-inline-block" />
                        </a>
                    </div>
                    <div class="logoText">
                        Demo Point
                    </div>
                </div>
                <button class="myButtonOutlined " @click.prevent="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Settings
                </button>
            </nav>
        </div>
    </div>

    <!-- App -->
    <div class="container">
        <!-- Content -->
        <div class="card border-0">
            <div class="card-body">
                <h2 class="card-text"> {{store.pointName}} </h2>
                <p class="fw-light">{{store.pointId}}</p>
                <div class="form-floating mb-4">
                    <select name="unit" id="unitSelect" class="form-select" v-model="store.selectedUnit"
                        @change="store.setUnit($event.target.value)">
                        <option selected value=store.selectedUnit> {{store.selectedUnit}} </option>
                        <option v-for="UNIT in UNITS" :value=UNIT> {{ UNIT }}</option>
                    </select>
                    <label for="unitSelect" class="form-label">Unit</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="typeText" v-model="store.typeValue"
                        @change="store.setType($event.target.value)">
                    </input>
                    <label for="typeText" class="form-label">Type</label>
                </div>
                <div class="form-floating mb-5">
                    <input type="text" class="form-control" id="valueInput" v-model="store.textValue"
                        @change="store.setTextValue($event.target.value)">
                    </input>
                    <label for="valueInput" class="form-label">Value</label>
                </div>
                <div class="row mb-5">
                    <div class="align-items-center">
                        <input type="range" class="form-range" v-model="store.selectedValue"
                            @change="store.setTextValue($event.target.value)">
                    </div>
                </div>
                <div class="d-grid gap-2 mb-2">
                    <button class="myButton" @click="store.sendPayload()">Send</button>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Settings Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Settings</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tenantIdInput" rows="3" v-model="store.pointName">
                        </input>
                        <label for="tenantIdInput" class="form-label">Device name</label>
                    </div>
                    <hr />
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tenantIdInput" rows="3" v-model="store.tenantId">
                        </input>
                        <label for="tenantIdInput" class="form-label">Tenant-id</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tenantKeyInput" rows="3" v-model="store.tenantKey">
                        </input>
                        <label for="tenantKeyInput" class="form-label">Tenant-key</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="pointId" rows="3" v-model="store.pointId">
                        </input>
                        <label for="tenantKeyInput" class="form-label">PointId</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="myButtonOutlined" data-bs-dismiss="modal">Close</button>
                    <button class="myButton" @click="store.saveSettingsToLocalStorage">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="module">
        import { createApp, reactive } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

        const BASE_URL = 'https://iot.dimensionfour.io/graph';

        const store = reactive({
            pointId: "",
            tenantId: "",
            tenantKey: "",
            selectedUnit: "",
            textValue: "",
            typeValue: "",
            count: 0,
            sendPayload: async () => {
                const valueorTextValue = () => {
                    if (store.textValue != "") {
                        return store.textValue;
                    } else {
                        return store.selectedValue;
                    }
                };
                const gqlstring = `
                    mutation { 
                        signal { 
                            create(input: {
                                pointId: "${store.pointId}" 
                                signals: [
                                    {
                                        value: "${valueorTextValue()}" 
                                        unit: ${store.selectedUnit}
                                        type: "${store.typeValue}"
                                    }
                                ]
                            }) {
                                id
                            }
                        }
                    }`
                const response = await fetch(BASE_URL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "x-tenant-id": store.tenantId,
                        "x-tenant-key": store.tenantKey
                    },
                    body: JSON.stringify({ query: gqlstring })
                });
            },
            setUnit(unit) {
                store.selectedUnit = unit;
                window.sessionStorage.setItem("selectedUnit", store.selectedUnit);
            },
            setType(type) {
                store.typeValue = type;
                window.sessionStorage.setItem("typeValue", store.typeValue);
            },
            setValue(value) {
                store.selectedValue = value;
                window.sessionStorage.setItem("selectedValue", store.selectedValue);
            },
            setTextValue(value) {
                store.textValue = value;
                window.sessionStorage.setItem("textValue", store.textValue);
            },
            setPointName(value) {
                store.pointName = value;
                window.sessionStorage.setItem("pointName", store.pointName);
            },
            saveSettingsToLocalStorage() {
                store.tenantId = store.tenantId.replaceAll(" ", "");
                store.tenantKey = store.tenantKey.replaceAll(" ", "");
                store.pointId = store.pointId.replaceAll(" ", "");
                window.localStorage.setItem("tenantId", store.tenantId);
                window.localStorage.setItem("tenantKey", store.tenantKey);
                window.localStorage.setItem("pointId", store.pointId);
            },
        })

        store.setUnit(window.sessionStorage.getItem("selectedUnit") || "CELSIUS_DEGREES");
        store.setType(window.sessionStorage.getItem("typeValue") || "myCustomType");
        store.setValue(window.sessionStorage.getItem("selectedValue") || "20");
        store.setTextValue(window.sessionStorage.getItem("textValue") || "20");
        store.setPointName(window.sessionStorage.getItem("pointName") || "My device");
        store.tenantId = window.localStorage.getItem("tenantId") || "";
        store.tenantKey = window.localStorage.getItem("tenantKey") || "";
        store.pointId = window.localStorage.getItem("pointId") || "";

        createApp({
            store
        }).mount()
    </script>
</body>

<script>
    const UNITS = [
        "CELSIUS_DEGREES",
        "FAHRENHEIT_DEGREES",
        "KELVINS",
        "DECIBELS",
        "BEATS_PER_MINUTE",
        "LATITUDE_DEGREES",
        "LONGITUDE_DEGREES",
        "METERS_PER_SECOND",
        "KILOMETERS_PER_HOUR",
        "METERS_PER_SECOND_SQUARED",
        "METERS",
        "KILOMETERS",
        "CENTIMETERS",
        "SECONDS",
        "MILLISECONDS",
        "BITS",
        "BITS_PER_SECOND",
        "GRAMS",
        "KILOGRAMS",
        "LITERS",
        "GRAMS_PER_METERS_CUBIC",
        "GENERIC",
        "DEGREES",
        "PERCENTS",
        "UNKNOWN",
    ]
    const TYPES = [
        "temperature",
        "humidity",
        "color",
        "TYPE1",
        "TYPE2",
        "TYPE3"
    ]
</script>

<style>
    body {
        background-color: #F4F6F8;
    }

    .container {
        max-width: 540px;
        min-height: 100px;
    }

    .card {
        border-radius: 15px;
    }

    .myButton {
        background-color: #531DA7;
        color: white;
        min-width: 100px;
        height: 40px;
        border-radius: 5px;
        font-family: inherit;
        font-weight: 500;
        border-style: none;
    }

    .myButtonOutlined {
        background-color: transparent;
        width: 110px;
        height: 40px;
        color: #531DA7;
        border-color: #531DA7;
        border-radius: 5px;
        font-weight: 500;
        border-style: solid;
    }

    .form-range::-moz-range-track {
        -webkit-transition: .2s;
        transition: opacity .2s;
        background: #d4c7e9;
    }

    .form-range::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: white;
        border: 10px;
        outline-style: solid;
        color: #531DA7;
        cursor: pointer;
    }

    .logoContainer {
        position: relative;
        z-index: 1;
        top: -20px;
    }

    .logo {
        position: absolute;
        z-index: 2;
    }

    .logoText {
        position: absolute;
        white-space: nowrap;
        color: #531DA7;
        z-index: 3;
        top: 40px;
        left: 100px;
    }

    .form-control:hover {
        border-color: #531DA7;
        border-width: 2px;
    }

    .form-control:focus,
    .form-select:focus {
        border-color: #531DA7;
        box-shadow: inset 0 1px 1px rgba(137, 74, 255, 0.541), 0 0 8px rgba(137, 74, 255, 0.541);
    }
</style>
</html>