#define WIFI_SSID_SECRET "somestring"
#define WIFI_PASSWORD_SECRET "somestring"
#define MQTT_BROKER_ADDRESS_SECRET "somestring"
#define MQTT_BROKER_USERNAME_SECRET "somestring"
#define MQTT_BROKER_PASSWORD "somestring"
#define MQTT_BROKER_PORT_SECRET 1883

#define DEVICE_ID_SECRET "somestring"
#define TENANT_ID_SECRET "somestring"
#define TENANT_KEY_SECRET "somestring"