<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Demo Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="favicon-16x16.png" />
</head>

<body>
    <div @mounted="setInterval(function() {store.updateSpacesAndPoints()}, 5000);"></div>

    <!-- Navbar -->
    <div class="container mt-4">
        <div class="navbar navbar-light mb-2">
            <nav class="container-fluid">
                <div class="logoContainer">
                    <div class="logo">
                        <a class="navbar-brand" href="#">
                            <img src="d4_logo.svg" alt="" width="140" class="d-inline-block">
                        </a>
                    </div>
                    <div class="logoText">
                        Demo Dashboard
                    </div>
                </div>
                <button class="myButtonOutlined" @click.prevent="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Settings
                </button>
            </nav>
        </div>
    </div>

    <!-- App -->
    <div class="container">
        <div class="row mb-2" v-for="space in store.spacesAndPoints" :key="space.id">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-text"> {{ space.name }}</h2>
                        <p class="fw-light">{{space.id}}</p>
                        <div class="card" v-for="point in space.points.nodes" :key="point.id">
                            <div class="card-body">
                                <h4 class="card-text"> {{ point.name }}</h4>
                                <p class="fw-light"> {{point.id}}</p>
                                <div v-for="signal in point.signals.edges" :key="signal.node.number">
                                    {{signal.node.data.rawValue}}
                                    {{signal.node.unit}}
                                    <span style="color: red;" v-if="signal.node.data.rawValue > 38">WARNING</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Settings</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="tenantIdInput" rows="3" v-model="store.tenantId">
                        </input>
                        <label for="tenantIndInput" class="form-label">Tenant-id</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3"
                            v-model="store.tenantKey">
                        </input>
                        <label for="tenantKeyInput" class="form-label">Tenant-key</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="myButtonOutlined" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="myButton" @click="store.saveSettingsToLocalStorage">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="module">
        import { createApp, reactive } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

        const BASE_URL = 'https://iot.dimensionfour.io/graph';

        const store = reactive({
            spacesAndPoints: "",
            tenantId: "",
            tenantKey: "",
            count: 0,
            updateSpacesAndPoints: function () {
                console.log("Updating...");
                store.getSpacesAndPointsAndSignals()
                    .then(data => {
                        store.spacesAndPoints = data["data"]["spaces"]["nodes"];
                        for (const a of store.spacesAndPoints) {
                            for (const b of a.points.nodes) {
                                let counter = 0;
                                for (const c of b.signals.edges) {
                                    c.node.number = counter;
                                    counter++;
                                };
                            }
                        }
                    });
            },
            getSpacesAndPointsAndSignals: async function () {
                const query = `
                query {
                    spaces {
                        nodes {
                            id
                            name
                            points {
                                nodes {
                                    id
                                    name 
                                    signals(paginate:{first:5} sort:{field:"createdAt" order:DESC}) {
                                        edges {
                                            node {
                                                id
                                                type
                                                unit
                                                data {
                                                    rawValue
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }`;
                const response = await fetch(BASE_URL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "x-tenant-id": store.tenantId,
                        "x-tenant-key": store.tenantKey
                    },
                    body: JSON.stringify({ query: query })
                });
                return response.json();
            },
            saveSettingsToLocalStorage() {
                store.tenantId = store.tenantId.replaceAll(" ", "");
                store.tenantKey = store.tenantKey.replaceAll(" ", "");
                window.localStorage.setItem("tenantId", store.tenantId) || "";
                window.localStorage.setItem("tenantKey", store.tenantKey) || "";
            }
        })

        store.tenantId = window.localStorage.getItem("tenantId") || "";
        store.tenantKey = window.localStorage.getItem("tenantKey") || "";
        store.updateSpacesAndPoints();

        createApp({
            store
        }).mount()
    </script>

</body>

<style>
    body {
        background-color: #F4F6F8;
    }

    .container {
        max-width: 540px;
        min-height: 100px;
    }


    .card {
        border-radius: 15px;
    }

    .myButton {
        background-color: #531DA7;
        color: white;
        min-width: 100px;
        height: 40px;
        border-radius: 5px;
        font-family: inherit;
        font-weight: 500;
        border-style: none;
    }

    .myButtonOutlined {
        background-color: transparent;
        width: 110px;
        height: 40px;
        color: #531DA7;
        border-color: #531DA7;
        border-radius: 5px;
        font-weight: 500;
        border-style: solid;
    }

    .logoContainer {
        position: relative;
        z-index: 1;
        top: -20px;
    }

    .logo {
        position: absolute;
        z-index: 2;
    }

    .logoText {
        position: absolute;
        white-space: nowrap;
        color: #531DA7;
        z-index: 3;
        top: 40px;
        left: 100px;
    }

    .form-control:hover {
        border-color: #531DA7;
        border-width: 2px;
    }

    .form-control:focus,
    .form-select:focus {
        border-color: #531DA7;
        box-shadow: inset 0 1px 1px rgba(137, 74, 255, 0.541), 0 0 8px rgba(137, 74, 255, 0.541);
    }
</style>

</html>