<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>D4 demo-sensor</title>
    <link rel="shortcut icon" type="image/png" href="favicon-16x16.png" />
</head>

<body>
    <!-- App -->
    <div class="container" style="max-width: 540px">
        <!-- Navbar -->
        <nav class="navbar navbar-light mb-2">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="d4_logo.svg" alt="" width="60" class="d-inline-block align-text-top me-2">
                    Demo Sensor
                </a>
                <form class="d-flex">
                    <button class="btn btn-outline-success" @click.prevent="" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Settings</button>
            </div>
        </nav>

        <!-- Content -->
        <div class="row mb-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Point
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li v-for="point in store.points" :key="point.id">
                        <a class="dropdown-item" @click="store.setPoint(point)">{{point.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row"></div>
        <div class="col">
            <div class="card">
                <div class="card-body" style="background-color: rgb(209, 209, 209);">
                    <h2 class="card-text"> {{store.point.name}} </h2>

                    <p class="fw-light">{{store.point.id}}</p>
                    <div class="mb-3">
                        <label class="form-label">Unit</label>
                        <select name="unit" class="form-select" v-model="store.selectedUnit"
                            @change="store.setUnit($event.target.value)">
                            <option selected value=store.selectedUnit> {{store.selectedUnit}} </option>
                            <option v-for="UNIT in UNITS" :value=UNIT> {{ UNIT }}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Unit</label>
                        <select name="type" class="form-select" v-model="store.selectedType"
                            @change="store.setType($event.target.value)">
                            <option v-for="TYPE in TYPES" :value=TYPE> {{ TYPE }} </option>
                        </select>
                    </div>
                    <div class="row">
                        <label class="form-label">Value</label>
                        <div class="col-2">
                            <h2>{{store.selectedValue}} </h2>
                        </div>
                        <div class="col-10  d-flex align-items-center">
                            <input type="range" class="form-range" v-model="store.selectedValue"
                                @change="store.setValue($event.target.value)">
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary mt-3" type="button" @click="store.sendPayload()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Settings Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <label for="exampleFormControlTextarea1" class="form-label">Tenant-id</label>
                    <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3"
                        v-model="tenantId"></textarea>
                    <label for="exampleFormControlTextarea1" class="form-label">Tenant-key</label>
                    <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3"
                        v-model="tenantKey"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="saveSettingsToLocalStorage">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="module">
        import { createApp, reactive } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js'

        const store = reactive({
            points: "",
            point: "",
            tenantId: "",
            tenantKey: "",
            selectedUnit: "",
            selectedType: "",
            selectedValue: "",
            count: 0,
            sendPayload: async function () {
                const gqlstring = `
                    mutation { 
                        signal { 
                            create(input: {
                                pointId: "${store.point.id}" 
                                signals: [
                                    {
                                        value: "${store.selectedValue}" 
                                        unit: ${store.selectedUnit}
                                        type: "${store.selectedType}"
                                    }
                                ]
                            }) {
                                id
                            }
                        }
                    }`
                const response = await fetch(BASE_URL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        "x-tenant-id": tenantId,
                        "x-tenant-key": tenantKey
                    },
                    body: JSON.stringify({ query: gqlstring })
                });
            },
            setPoint(point) {
                store.point = point;
                window.sessionStorage.setItem("pointId", store.point.id);
            },
            setUnit(unit) {
                store.selectedUnit = unit;
                window.sessionStorage.setItem("selectedUnit", store.selectedUnit);
            },
            setType(type) {
                store.selectedType = type;
                window.sessionStorage.setItem("selectedType", store.selectedType);
            },
            setValue(value) {
                store.selectedValue = value;
                window.sessionStorage.setItem("selectedValue", store.selectedValue);
            },
        })

        store.setUnit(window.sessionStorage.getItem("selectedUnit") || "CELSIUS_DEGREES");
        store.setType(window.sessionStorage.getItem("selectedType") || "TYPE1");
        store.setValue(window.sessionStorage.getItem("selectedValue") || "20");


        const BASE_URL = 'https://iot.dimensionfour.io/graph';
        if (tenantId && tenantKey) {
            getPoints()
                .then(data => {
                    store.points = data["data"]["points"];
                    for (const point of store.points) {
                        if (point.id == pointId) {
                            store.point = point;
                        }
                    }
                });
        }

        async function getPoints() {
            const query = `
                query {
                    points { 
                        id
                        name 
                    }
                }`;
            const response = await fetch(BASE_URL, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "x-tenant-id": tenantId,
                    "x-tenant-key": tenantKey
                },
                body: JSON.stringify({ query: query })
            });
            return response.json();
        }
        createApp({
            store,
            saveSettingsToLocalStorage() {
                window.localStorage.setItem("tenantId", tenantId);
                window.localStorage.setItem("tenantKey", tenantKey);
            },
        }).mount()
    </script>

</body>

<script>
    const tenantId = window.localStorage.getItem("tenantId") || "";
    const tenantKey = window.localStorage.getItem("tenantKey") || "";
    const pointId = window.sessionStorage.getItem("pointId") || "";
    const type = window.sessionStorage.getItem("type") || "";
    const UNITS = [
        "CELSIUS_DEGREES",
        "FAHRENHEIT_DEGREES",
        "KELVINS",
        "DECIBELS",
        "BEATS_PER_MINUTE",
        "LATITUDE_DEGREES",
        "LONGITUDE_DEGREES",
        "METERS_PER_SECOND",
        "KILOMETERS_PER_HOUR",
        "METERS_PER_SECOND_SQUARED",
        "METERS",
        "KILOMETERS",
        "CENTIMETERS",
        "SECONDS",
        "MILLISECONDS",
        "BITS",
        "BITS_PER_SECOND",
        "GRAMS",
        "KILOGRAMS",
        "LITERS",
        "GRAMS_PER_METERS_CUBIC",
        "GENERIC",
        "DEGREES",
        "PERCENTS",
        "UNKNOWN",
    ]
    const TYPES = [
        "TYPE1",
        "TYPE2",
        "TYPE3"
    ]
</script>

</html>